In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import os, sys
from pathlib import Path
import numpy as np
import pandas as pd
import rfpye
from rfpye.utils import *
from rfpye.filter import extract_bin_stats

In [ ]:
entrada = Path(r'C:\Users\rsilva\Downloads\entrada')
saida = Path(r'C:\Users\rsilva\Downloads\saida')

In [ ]:
out = extract_bin_stats(r'C:\Users\rsilva\Downloads\entrada\pmec\rfeye002292_210210_T230245_MaskBroken.bin',
                       #time_start='2021-05-20 00:00',
                       #time_stop= '2021-05-21 23:59', 
                       #freq_start=121, 
                       #freq_stop=125, 
                       cache=saida)

In [ ]:
out

         Frequency    Min    Max      Mean
0       108.000000 -101.0  -92.0  -99.7500
1       108.001953 -101.0  -90.5  -99.5000
2       108.003906 -101.0  -90.5  -99.1250
3       108.005859 -101.0  -85.5  -96.1875
4       108.007812 -101.0  -86.5  -96.8125
...            ...    ...    ...       ...
34299  2898.844482 -101.0 -101.0 -101.0000
34300  2898.883301 -101.0 -101.0 -101.0000
34301  2898.922119 -108.0 -101.0 -101.1250
34302  2898.961182 -101.0 -100.0 -101.0000
34303  2899.000000 -113.0 -101.0 -101.1875

[34304 rows x 4 columns]

In [ ]:
out = extract_bin_stats(r'D:\OneDrive - ANATEL\Backup_Rfeye_SP\GRU\2021\rfeye002239_210222_T042400.bin',
                       start='2021-02-22 00:00',
                       stop= '2021-02-24 23:59', 
                       freq_start=88, 
                       freq_stop=108)

In [ ]:
out

      Frequency    Min   Max      Mean
0     88.005867  -93.0 -32.0 -46.71875
1     88.044968  -71.5 -31.5 -36.93750
2     88.084068  -69.5 -31.0 -37.21875
3     88.123169  -48.5 -30.5 -33.46875
4     88.162270  -47.5 -31.0 -33.75000
..          ...    ...   ...       ...
866  107.959808 -110.0 -43.0 -61.68750
867  107.969582 -118.5 -43.5 -79.81250
868  107.979347 -125.5 -46.5 -82.93750
869  107.989113 -131.5 -54.0 -85.81250
870  107.998886 -119.5 -61.0 -88.06250

[871 rows x 4 columns]

In [ ]:
files = get_files(saida / 'levels') ; files

(#140) [Path('C:/Users/rsilva/Downloads/saida/levels/201201_T153421_OneThreadID.bin-B_63_TId_110.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_10.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_100.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_20.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_30.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_40.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_50.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_60.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_70.fth'),Path('C:/Users/rsilva/Downloads/saida/levels/201201_T154509_MultiplesThreadID.bin-B_63_TId_80.fth')...]

In [ ]:
df = pd.read_feather(saida / 'levels' / '201201_T154509_MultiplesThreadID.bin-B_63_TId_10.fth')

In [ ]:
df.set_index('index', inplace=True)

In [ ]:
df.head()

,70.0,70.01954079140205,70.0390815828041,70.05862237420615,70.0781631656082,70.09770395701025,70.1172447484123,70.13678553981437,70.15632633121642,70.17586712261847,...,109.82413287738153,109.8436736687836,109.86321446018565,109.8827552515877,109.90229604298975,109.9218368343918,109.94137762579385,109.9609184171959,109.98045920859795,110.0
index,,,,,,,,,,,,,,,,,,,,,
2020-12-01 15:45:09.569136,-83.5,-85.5,-91.0,-91.5,-84.0,-93.0,-92.5,-86.5,-84.0,-88.0,...,-91.5,-87.5,-88.5,-90.0,-93.0,-100.0,-85.0,-82.5,-86.0,-91.5
2020-12-01 15:45:09.618048,-89.0,-88.5,-83.0,-96.0,-96.0,-93.5,-89.0,-95.0,-87.0,-88.0,...,-87.5,-91.0,-91.5,-95.5,-88.0,-87.0,-85.5,-84.5,-85.0,-83.5
2020-12-01 15:45:09.670951,-83.5,-85.5,-83.5,-86.5,-83.5,-84.0,-91.5,-88.5,-85.5,-87.0,...,-90.5,-102.0,-105.5,-102.5,-93.0,-85.5,-88.5,-82.5,-88.5,-86.5
2020-12-01 15:45:09.715272,-94.5,-89.0,-86.5,-90.0,-86.5,-87.5,-89.0,-86.5,-87.0,-83.0,...,-88.5,-87.0,-87.0,-97.0,-86.5,-84.5,-89.5,-80.5,-77.5,-77.5
2020-12-01 15:45:09.769050,-95.0,-97.0,-104.0,-93.0,-88.0,-87.0,-87.5,-90.0,-88.5,-85.5,...,-86.5,-85.5,-84.0,-82.5,-81.5,-79.0,-81.5,-84.5,-84.5,-92.5

In [ ]:
c = df.columns.values.astype('float')
df.columns[(110 <= c) & (c <= 120)]

Index(['110.00139547864917', '110.0111638291934', '110.02093217973766',
       '110.03070053028189', '110.04046888082613', '110.05023723137036',
       '110.0600055819146', '110.06977393245883', '110.07954228300306',
       '110.08931063354731',
       ...
       '119.90650293050517', '119.9162712810494', '119.92603963159364',
       '119.93580798213787', '119.94557633268211', '119.95534468322634',
       '119.96511303377058', '119.97488138431481', '119.98464973485906',
       '119.9944180854033'],
      dtype='object', length=1024)

In [ ]:
def spectrum_stats(df, start, stop, freq_start, freq_end):
    df = df.copy()
    try:
        start = pd.to_datetime(start)
        stop = pd.to_datetime(stop)
    except pd.errors.ParserError
    
    if 'index' in df.columns:
        #df.drop('index', inplace=True, axis=1)
        df.set_index('index', inplace=True)
        df.index = pd.to_datetime(df.index)
        
    cols = df.columns.values.astype('float')
    filter_cols = (float(freq_start) <= cols) & (cols <= float(freq_end))
    
    
    freq = np.round(cols, 4).astype('float32')
    array = df.values
    min_ = array.min(axis=0)
    max_ = array.max(axis=0)
    mean = array.mean(axis=0)
    return pd.DataFrame({'Frequency': freq, 'Min': min_, 'Max': max_, 'Mean': mean})

      Frequência    Min   Max        Mean
0     105.000000 -141.5 -75.5 -100.000679
1     105.009804 -141.5 -81.0 -100.294510
2     105.019501 -127.5 -87.5 -100.457275
3     105.029297 -125.0 -84.0  -98.519325
4     105.039101 -134.5 -82.0  -98.571381
...          ...    ...   ...         ...
3579  139.960907 -139.0 -98.0 -107.651405
3580  139.970703 -137.0 -97.0 -108.507629
3581  139.980499 -125.0 -98.0 -108.643440
3582  139.990204 -133.5 -98.0 -108.506950
3583  140.000000 -136.0 -96.5 -108.253983

[3584 rows x 4 columns]